<!doctype html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}">
    <link rel="canonical" href="{{URL}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{SITE_NAME}}">
    <meta property="og:title" content="{{TITLE}}">
    <meta property="og:description" content="{{DESCRIPTION}}">
    <meta property="og:url" content="{{URL}}">
{{OG_IMAGE_TAG}}
    <link rel="stylesheet" type="text/css" href="/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="/css/noto-serif.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/page_common.css">
    <link rel="stylesheet" type="text/css" href="/css/page_category.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body id="page-category" class="refresh" cate-id="{{CATEGORY_SLUG}}">
{{HEADER}}
    <div class="page-wrapper">
        <section id="category-header" class="section">
            <h1 style="margin-top: 40px"><a href="{{CATEGORY_URL}}" title="{{CATEGORY_NAME}}">{{CATEGORY_NAME}}</a></h1>
            <div class="section-content">
                <div data-content="newsfeatured" class="article-list" id="category-list-1">
{{CATEGORY_FEATURED}}
                </div>
                <div data-content="newstrending" class="article-list listing-layout" id="category-list-2">
{{CATEGORY_TRENDING}}
                </div>
            </div>
        </section>
    </div>
    <div class="page-wrapper">
        <section id="news-latest" class="section has-sidebar">
            <section class="section-content">
                <div class="article-list listing-layout responsive" id="category-list-3">
{{CATEGORY_MORE}}
                </div>
            </section>
        </section>
    </div>
{{FOOTER}}
</body>
</html>
