<!doctype html>
<html lang="vi">
<head>
{{ANALYTICS_TAG}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{TITLE}}</title>
    <meta name="description" content="{{DESCRIPTION}}">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="{{URL}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{SITE_NAME}}">
    <meta property="og:title" content="{{TITLE}}">
    <meta property="og:description" content="{{DESCRIPTION}}">
    <meta property="og:url" content="{{URL}}">
{{OG_IMAGE_TAG}}
{{FAVICON_TAG}}
    <link rel="stylesheet" type="text/css" href="/css/roboto.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/noto-serif.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/main.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/footer.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/page_common.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/custom.css?v=5">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css?v=5">
</head>
<body id="page-homepage" class="refresh">
{{HEADER}}
{{CATEGORY_SECTIONS}}
{{FOOTER}}
</body>
</html>
